.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile div{
  margin-bottom: 1em;
}

.profile p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.profile p label {
  position: relative;
  margin-right: 10px;
}

.buttons_savebio{
  display: flex;
  justify-content: center;
  margin-top: 12PX;
}

.profile p label::after {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.profile p:first-child label::after {
  border-top-left-radius: 3px;
}

.profile p:last-child label::after {
  border-bottom-left-radius: 3px;
}

.profile p span {
  font-weight: bold;
}

.profile p input {
  padding: 5px 8px;
  width: 250px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid #C1C1C1;
  background-color: transparent;
  margin-top: 4px;
}

.profile_labels {
  margin-left: 6px;
}

.button_save{
  margin-right: 24px;
}

.button_cancel, .button_save{
  padding: 8px 18px;
  border-radius: 6px;
  background-color: #285E89;
  color: #FFF;
}

.profile_logout{
  background-color: transparent;
  font-size: 18px;
  margin-bottom: 50px;
  cursor: pointer;
  color: #285E89;
  font-weight: 900;
}

.profile_pic{
  width: 250px;
  height: 250px;
  margin: 32px 0px 16px 0px;
}

  footer {
    position: fixed;
    bottom: 0;
    width: 50%;
  }

@media screen and (max-width: 1400px) and (max-height: 790px){
  
  .profile_pic{
    width: 140px;
    height: 140px;
    margin: 32px 0px 16px 0px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


}


  

  
  